body {
  background: rgb(136, 40, 57);
  padding: 10px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#main-nav ul {
  display: flex;
  list-style: none;
}
#main-nav ul li {
  margin: 15px 40px;
}
#main-nav ul li a {
  color: black;
  text-decoration: underline;
}

#main-nav ul li a:hover {
  background-color: #333;
  color: black;
  border-radius: 500px;
  text-decoration: underline;
}

h1, h2, .anton-regular {
  font-family: "Anton", "Arial";
  font-weight: 400;
  font-style: normal;
  font-size: 2em; /* 35px */
}

h2 {
  font-size: 1em; /* 17px */
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 40px;
}

html {
   line-height: 3em; /* 52px */
   font-size: 18px;
   text-align: center; 
   align-content: center;
}

label {
    text-align: center;
    height: 30px;
}
input {
    align-items: center;
    height: 30px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    background-color: rgb(77, 5, 5);
    width: 100%;
    margin: 0 auto;
    display: block;
}

div {
  width: 100%;
  margin: 0 auto;
}

main {
  text-align: center;
  width: 100%;
}


@media screen and (min-width: 620px) {

body {
    padding: 115px;
}

h1 {
    text-align: center;
   
  }

input {
    height: 40px;
    width: 70%;
    border-color: gray;
    text-align: center;
  }


.button {
    margin-bottom: 10px;
    width: 70%;
  }


 label {
    width: 90%;
 }
}
@media screen and (min-width: 960px) {

input {
    height: 60px;
    margin-bottom: 20px;
    width: 30%;
  }

label {
    font-size: 18;
}

.button {
    text-align: center;
    width: 20%;
    float: right;
    padding: 10px;
    font-size: 20px;
  }

body {
    padding: 50px;
  }

h1 {
    font-size: 40px;
  }

h2 {
    padding-bottom: 60px;
    padding-top: 0px;
}
}