* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html, body {
    background: rgb(115, 8, 8)
}

header {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}


/*body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}*/

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/*h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}*/

.section {
    margin-top: 20px;
}

.section h2 {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 15px;
}

.hours {
    text-align: left;
}

.day {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

.day:last-child {
    border-bottom: none;
}

.weekday {
    font-weight: bold;
    color: #333;
    flex: 1;
}

.time {
    color: #777;
    flex: 1;
    text-align: right;
}

#main-nav ul {
  display: flex;
  list-style: none;
}
#main-nav ul li {
  margin: 15px 40px;
}
#main-nav ul li a {
  color: black;
  text-decoration: underline;
}

#main-nav ul li a:hover {
  background-color: #333;
  color: black;
  border-radius: 500px;
  text-decoration: underline;
}

#promo-text, h1, h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 3em; /* 52px; */
}

#promo-text, h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 40px;
}
#promo-text, html {
    font-size: 16px; 
}

.form {
    margin-bottom: 10px;
    width: 98%;
}

label {
    text-align: center;
    height: 30px;
}
input {
    width: 120%;
    align-items: center;
}


.button {
  background-color: rgb(77, 5, 5);
  width: 100%;
  padding: 20px;
}

.form, main {
  padding: 40px;
  text-align: center;
  width: 100%;
}


@media screen and (min-width: 620px) {
.form, h1 {
    text-align: center;
    margin-bottom: 50px;
    text-underline-position: under;
  }

input {
    height: 40px;
    margin-bottom: 20px;
    width: 90%;
    border-color: gray;
    text-align: center;
  }


.button {
    margin-bottom: 10px;
    width: 50%;
  }

.form, body {
    padding-top: 20px;
  }

 .form {
    line-height: 4em; /* 52px */
    font-size: 15px; 
 }

 label {
    width: 90%;
 }

@media screen and (min-width: 960px) {
input {
    height: 60px;
    margin-bottom: 0px;
    width: 30%;
  }

.form, label,  {
    font-size: 18;
}

.button {
    text-align: center;
    width: 20%;
    float: right;
    padding: 10px;
    font-size: 20px;
  }

.form, body {
    padding-top: 50px;
  }


.form, html {
    line-height: 1em; /* 86px */ 
    text-align: center;
  }

.form, h1 {
    font-size: 40px;
  }

.form {
    font-size: 20px;
}
}
  
